<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title style="font-weight:400">@ViewData["Title"] - Grande Travel</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/pulse/bootstrap.min.css" rel="stylesheet" integrity="sha384-/uQFqO50IaQu2rNJYKPpV7zwsWJtd6V4DGX4wMw1ATz4KPuZEV96qQ2heVAw2kr2" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<body>
    <header>
        <div class="row justify-content-center">
            <div class="justify-content-center">
                <img class="logo" src="~/images/logo5.png"  alt="logo" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div >
                <a class="h1" asp-controller="Home" asp-action="Index">Grande Travel</a>
            </div>
        </div>
        <div class="navbarcolor">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Packages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Staff" asp-controller="Staff" asp-action="Index">Staff</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Customer" asp-controller="Customer" asp-action="Index">Customer</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3 mb-3">
            @RenderBody()
        </main>
    </div>
    <br/>
    <footer class="border-top footer text-muted mt-3">
        <div class="container mt-3">
          <div class="row">
              <div class="col-sm-12 col-md-6">
                  &copy; 2019 - Grande Travel | <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> |
                  <a asp-area="" asp-controller="Home" asp-action="Privacy">Terms & Conditions</a>
              </div>
              <div class="col-sm-12 col-md-6">
                  <p>123 Smart St, Surry Hills, NSW 2000</p>
              </div>
        </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
