@model Library.Models.Models.CustomerTravelPackage

@{
    ViewData["Title"] = "LeaveFeedback";
}

<h1>LeaveFeedback</h1>

<h4>CustomerTravelPackage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LeaveFeedback">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="Id" class="form-control" />
                <input hidden asp-for="CustomerId" class="form-control" />
                <input hidden asp-for="TravelPackageId" class="form-control" />
                <input hidden asp-for="StartDate" class="form-control" />
                <input hidden asp-for="SalePrice" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Feedback" class="control-label"></label>
                <textarea maxlength="200" asp-for="Feedback" class="form-control"></textarea>
                <span asp-validation-for="Feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

